.navText-height-size {
    height: 60px;
}

.div-block-width {
    display: block;
    width: 100%;
}

.add-button-hover:hover {
    opacity: 0.3;
}

.nav-link-2 {
    font-size: 17px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

.nav-link-2:hover {
    text-decoration: none;
    color: #6a7dfe;
}

.red-message {
    color: red;
}

.fieldset_style {
    border-style: solid;
    border: 5px;
}

.easyPaginateNav {
    margin-left: 40%;
}

.fontSize-medium{
    font-size: 19px;
}

.textarea-size2 {
    max-width: 500px !important;
}

.verticalLine {
    border-left: 2px solid lightgrey;
    height: 720px;
    margin-left: 45%;
    position: absolute;
}