@{
    ViewBag.Title = "About";
}
<br>
<h2>@ViewBag.Title</h2>

<br>
<p>
    Welcome to Example-based eLearning for Programmin. This application focus on improving student's programming competency.
    There are multiple exercises under one topic. Students are also encourage to do the exercises.
</p>
